<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resource Server</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'resource_server/css/resource_style.css' %}">
</head>
<body>
<h1>Resource Server</h1>
<p>Process ID || Sequence Number || Description</p>
    {% if resource_list %}
        <ul>
        {% for resource in resource_list %}
            <li>{{ resource.process_id }} || {{resource.sequence_number}} || {{resource.description}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No resources are available.</p>
    {% endif %}


<p>Process ID || Confirmation Status</p>

    {% if result_list %}
        <ul>
        {% for result in result_list %}
            <li>{{ result.process_id }} || {{result.confirmation_status}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results are available.</p>
    {% endif %}
</body>
</html>